.MA_applay{
	width: 100%;
	height: 100%;
	max-height: 600px;
	max-width: 760px;
	min-width: 600px;
	min-height: 300px;
	background-color: #97ffff;
}
.buttonBlock{
	width: 92%;
	height: 15%;
	margin-left:4%;
	margin-right: 4%;
}
.button{
	
	margin-top: 1%;
   
}
.buttonForm{
	margin-top: 1%;
	width: 12%;
	height: 98%;
	float: left;
	
}
.buttonForm1{
	margin-top: 1%;
	width: 15%;
	height: 98%;
	float: left;
	
}
.buttonSearch{
	margin-left: 24%;
	margin-top: 1%;
	float: left;
	
}

.tableA{
	margin: 2% auto;
	border-collapse:collapse;
	width: 94%;
	height: 6%;
	text-align: center;
}
.tableB{
	margin: 0 auto;
	border-collapse:collapse;
	width: 94%;
	height: 8%;
	text-align: center;
}
th{
	height: 20%;
}
.aa{
	float: left;
	width: 10%;
	height: 10%;
	margin-left: 2%
}
.ab{
	float: left;
	width: 12%;
	height: 10%;
	margin-left: 2%
}
.bottom{
	width: 85%;
	height: 10%;
	margin:5% 10% 5% 15%;

}
.body{
	width:760px;
    height:600px;

}
.list{
	height: 35%;
	width:85%;
}