*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: auto;
    display: block;
    overflow-x:hidden;
}
.first{
    width: 100%;
    height: 755px;
    background-image: url("../images/pic1.jpg");
    background-size: 100% ;
    font-family: "Microsoft YaHei";

}
.nav{
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 10px 1px black;
    
    position: fixed;    


}
.logo{
    display: block;
    float: left;
}
.login a{
    color: #ffffff;
    font-family: "Microsoft YaHei";
    text-shadow: 1px 1px 5px  #000000;
    margin-top: 35px;
    margin-left: 270px;
    display: block;
    position: fixed;
    font-size: 13px;



}
ul{ text-decoration: none;
    list-style: none;
    height: 60px;
    width: auto;
    float: right;
    margin-right: 20px;


}
a{
    text-decoration:none ;
}
li{
    float: left;
    margin-right: 0;
    display: block;
}
.shadow{display:block;
    width: 120px;
    height: 60px;
    text-align: center;

}
.button{
    margin-top: 20px;
    display: block;
    color: white;
    width: 120px;
    height: 60px;
    text-shadow: 1px 1px 5px  #000000;
}
.shadow:hover {
    background-color: rgba(0,0,0,0.5);

}
.loginDiv{

    width: 24%;
    height:420px;
    background-color: rgba(0,0,0,0.4);
    -webkit-box-shadow: 1px 1px 10px 2px black;
    margin:  12% 38%;
    position: absolute;
    display: none;
}
.loginDiv img{
    margin: 20px auto;
    display: block;}

input::-webkit-input-placeholder {
    color: #6c6c6c;
    -webkit-transition: color.5s;
}
input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder {
    color: #a3a3a3;
    -webkit-transition: color.5s;

}


.loginDiv.loginLogo{
    margin-bottom: 80px;
}
.userInput input{
    height: 30px;
    width: 180px;
    border-color: #000000;
    margin: 40px auto;
    display: block;
    background-color: rgba(255, 255, 255, 0.6);



}
.loginButton{
    margin: 0 auto;
    width: 200px;
    display: block;
}




.loginButton input {
    height: 30px;
    width: 80px;
    border-color: #000000;
    display: block;
    float: left;
    margin: 0 10px;
    font-family:"Microsoft YaHei";
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.6);



}
.loginButton input:hover{
    background-color: rgba(98, 98, 98, 0.60);

}
.signUpDiv{

    width: 24%;
    height:500px;
    background-color: rgba(0,0,0,0.4);
    -webkit-box-shadow: 1px 1px 10px 2px black;
    margin:  10% 38%;
    position: absolute;
    display: none;
}
.signUpDiv img {
    margin: 20px auto;
    display: block;
}
.signUpDiv.loginButton input{
    margin-left: 50px;
}

/*第一页*/

.about{
    width: 50%;
    height: 1000px;
    background-color: #ded6c0;
    padding-top: 80px;
    display: inline-block;
    vertical-align: top;/*向上对齐*/
}
h1{
    font-family: "STHupo";
    color: #423f3c;
    text-align: center;
    font-size:50px;
}
.photo{
    background-image: url("../images/photo.jpg");
    width: 170px;
    height: 255px;
    float: left;
    margin-left: 50px;
    margin-top: 120px;
    -webkit-box-shadow: 1px 1px 20px 1px #4e4e4e;
}
 .photo p{display: block;
     padding-top: 210px;
    text-align: center;
     font-family: "impact";
     font-size: 30px;
     color:#423f3c ;
}
 .line{display: block;
     height: 255px;
     padding-left: 100px;
 }






 /*second page*/
 .news{ width: 100%;
     height: 720px;
     background-color:#3d3c3c;
     padding-top: 80px;

 }
 .news h1{ color:#a9a6a6;
     width: 20%;
     display: block;
     margin: auto;


 }
 .content{
     width: 70%;
     height: 500px;
     display: block;
     padding-top: 70px;
     margin:auto;
 }
 .content p{
     margin-left: 100px;
     font-family: "Microsoft YaHei";
     font-size:20px;
     color: #a9a6a6;
 }
 .leftContent p{
     float: left;
     margin-right: 180px;
 }



 .border2{
     float: right;

 }
 h2{
     display: block;
     color:#a9a6a6 ;
     font-family: "impact";
     font-size: 20px;
     float:right;
     margin-top: 25px;
 }
 .employ{
     width: 100%;
     height: 720px;
     background-color: #3bacd6;
     padding-top: 80px;

 }
 .employ h1{
     color: white;
     text-shadow: 1px 1px 5px  #000000;
 }
 .whiteMan{
     margin-top: 20px;
     margin-left: 60px;
 }
 .whiteMan img{
     margin: auto;
     display: block;

 }
 .words img{
     margin: auto;
     display: block;
 }

iframe{
    width: 100%;
}